<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <title>Dojo Survey</title>
    <style>
        section {
            padding: 60px 0;
        }
    </style>
</head>
<body>
    <!-- Survey Form -->
    <section id="survey_form">
        <div class="container-lg">
            <div class="text-center">
                <h2>Dojo Survey</h2>
            </div>
        </div>

        <div class="row justify-content-center my-5">

            <div class="col-lg-6 bg-secondary rounded pt-3">
                <!-- form -->
                <form action="/process" method="POST">
                    <label for="name" class="form-label">Name:</label>
                    <div class="mb-4 input-group">
                        <span class="input-group-text">
                            <i class="bi bi-person-fill"></i>
                        </span>
                        <input type="text" id="name" class="form-control" placeholder="Enter name..." name="name">
                    </div>
                    <!-- radios -->
                    <div class="form-group pb-3">
                        <div class="form-check-inline">
                            <span>Dojo Location:</span>
                            <input type="radio" class="form-check-input" id="location1" name="location">
                            <label for="location1" class="form-check-label">Florida</label>
                        </div>
                        <div class="form-check-inline">
                            <input type="radio" class="form-check-input" id="location2" name="location">
                            <label for="location2" class="form-check-label">California</label>
                        </div>
                        <div class="form-check-inline">
                            <input type="radio" class="form-check-input" id="location3" name="location">
                            <label for="location3" class="form-check-label">New York</label>
                        </div>
                        <div class="form-check-inline">
                            <input type="radio" class="form-check-input" id="location4" name="location">
                            <label for="location4" class="form-check-label">Massachusetts</label>
                        </div>
                        <div class="form-check-inline">
                            <input type="radio" class="form-check-input" id="location5" name="location">
                            <label for="location5" class="form-check-label">Texas</label>
                        </div>
                    </div>
                        <!-- checks -->
                    <div class="form-group pb-3">
                        <span>Favorite Language:</span>
                        <div class="form-check-inline">
                            <input type="checkbox" class="form-check-input" id="option1" name="language">
                            <label for="option1" class="form-check-label">Python</label>
                        </div>
                        <div class="form-check-inline">
                            <input type="checkbox" class="form-check-input" id="option2" name="language">
                            <label for="option2" class="form-check-label">JavaScript</label>
                        </div>
                        <div class="form-check-inline ">
                            <input type="checkbox" class="form-check-input" id="option3" name="language">
                            <label for="option3" class="form-check-label">HTML</label>
                        </div>
                        <div class="form-check-inline">
                            <input type="checkbox" class="form-check-input" id="option4" name="language">
                            <label for="option4" class="form-check-label">CSS</label>
                        </div>
                        <div class="form-check-inline">
                            <input type="checkbox" class="form-check-input" id="option5" name="language">
                            <label for="option5" class="form-check-label">C#</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-flotating mb-4">
                            <label for="comment">Comment (optional):</label>
                            <textarea id="comment" name="comment" class="form-control" style="height: 144px"></textarea>
                        </div>
                        <div class="mb-4 text-center">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </section>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>