<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <title>Dojo Survey</title>
    <style>
        section {
            padding: 60px 0;
        }
    </style>
</head>
<body>
    <!-- Survey Form -->
    <section id="survey_form">
        <div class="container-lg">
            <div class="text-center">
                <h2>Dojo Survey</h2>
            </div>
        </div>

        <div class="row justify-content-center my-5">

            <div class="col-lg-6 bg-primary">
                <!-- form -->
                <form action="">
                    <label for="name" class="form-label">Name:</label>
                    <div class="mb-4 input-group">
                        <span class="input-group-text">
                            <i class="bi bi-person-fill"></i>
                        </span>
                        <input type="text" id="name" class="form-control" placeholder="Enter name...">
                    </div>
                    
                    <div class="form-check-inline pb-3">
                        <input type="radio" class="form-check-input" name="location1">
                        <label for="location1" class="form-check-label">Florida</label>
                    </div>
                    <div class="form-check-inline pb-3">
                        <input type="radio" class="form-check-input" name="location2">
                        <label for="location2" class="form-check-label">California</label>
                    </div>
                    <div class="form-check-inline pb-3">
                        <input type="radio" class="form-check-input" name="location3">
                        <label for="location3" class="form-check-label">New York</label>
                    </div>
                    <div class="form-check-inline pb-3">
                        <input type="radio" class="form-check-input" name="location4">
                        <label for="location4" class="form-check-label">Massachusetts</label>
                    </div>
                    <div class="form-check-inline pb-3">
                        <input type="radio" class="form-check-input" name="location5">
                        <label for="location5" class="form-check-label">Texas</label>
                    </div>
                </form>
            </div>
        </div>

    </section>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>